*{
    margin-top: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgbx{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgbx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(230deg,lightgreen, #3589d7);
    z-index: 1;
    /* mix-blend-mode:multiply; */
}

section .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
}


section .contentbx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:100%;
}

section .contentbx .formbx{
    width: 50%;
}

section .contentbx .formbx h3{
    color: rgb(20, 39, 50);
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 4px solid rgb(175, 213, 117);
    display: inline-block;
    letter-spacing: 1px;
}
section .contentbx .formbx .inputbx{
    margin-bottom: 10px;
}

section .contentbx .formbx .inputbx span{
    font-size: 20px;
    margin-bottom: 3px;
    display: inline-block;
    color: #0255a2;
    font-weight: 300;
    letter-spacing: 1px;
}


section .contentbx .formbx .inputbx button{
    width:100%;
    padding: 8px 10px;
    outline: none;
    font-family: 400;
    border: 1px solid grey;
    font-size: 20px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
}

section .contentbx .formbx .inputbx button[type="button"]
{
    margin-top: 20px;
    background-color: #0153a0d8;
    color:rgb(19, 197, 81);
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentbx .formbx .inputbx input[type="submit"]:hover{
    background:rgba(50, 205, 166, 0.808);
    color: #0567c2;
}